*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e4e4e4;
    font-family: 'Montserrat', sans-serif;
}

/* Menu */
.bar{
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #000000;
}

.menu{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 10px ;
}

.menu > a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 32px;
    margin-left: 20px;
}

.menu ul{
    width: 40%;
    display: flex;
    align-items: center;
    list-style: none;
}

.menu ul li{
    text-align: center;
    width: 100%;
}

.menu ul li a{
    text-decoration: none;
    color: #FFFFFF;
}


/* Apresentação */

header::before {
    content: '';
    position: absolute;
    top: 70px;
    left: 0;
    height: 370px;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(
        115deg,
        rgba(94, 94, 94, 0.897),
        rgba(85, 85, 85, 0.7)
      ),
      url(/img/header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

header{
    min-height: 370px;
    color: #e4e4e4;
    margin-top: 70px;
    width: 100%;
}

header img{
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

header h1{
    font-size: 3em;
}

.inactive{
    display: none;
}
.header-wrap{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 350px;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}




.wrap{
    max-width: 1200px;
    margin: 30px auto;

}

/* Sobre */

.sobre{
    min-height: 250px;
    padding: 0 20px;
}

.sobre p{
    margin-top: 10px;
    text-indent: 20px;
}

.sobre h1{
    margin-bottom: 20px;
}

/* Portfolio */

.projetos{
    box-shadow: 0px 1px 2px 0 #373737;
    background-color: #a9a9a9;
    border-radius: 10px 10px 5px 5px;
    margin: 0 1%;
}

.projetos-header{
    background-color: #000000;
    color: #e4e4e4;
    height: 50px;
    border-radius: 10px 10px 0 0 ;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.projetos-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-button{
    height: 50px;
    font-size: larger;
    background-color: #a9a9a9;
    border-style: none;
    padding: 3px;
    margin: 0 3px;
}

.portfolio-button:hover{
    cursor: pointer;
    background-color: #373737;
    color: #a9a9a9;
    transition: all .5s;
}

.container{
    display: flex;
    overflow: hidden;
}


.item-portfolio{
    min-width: 31%;
    height: 300px;
    margin: 15px 1%;
    background-color: #e4e4e4;
    box-shadow: 0 2px 5px 0 #373737;
    border-radius: 5px;
    transition: all 1s;
    position: relative;

}

.item-portfolio:first-child{
    margin-left: -31.5%;
}


.item-portfolio img{
    width: 100%;
    height: 300px;
}

.item-portfolio:hover{
    cursor: pointer;
    opacity: 0.7;
}

.description{
    padding: 15px 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    opacity: 0;
    transition: opacity 0.25s;
    backdrop-filter: blur(10px);
}

.description:hover{
    opacity: 1;
}

.description > * {
    transform: translateY(30px);
    transition: all 0.25s;
}

.description:hover > * {
    transform: translateY(0);
}


.description h2{
    display: flex;
    align-items: center;
    height: 100%;
}

@media(max-width: 768px) {
    .item-portfolio{
        min-width: 48%;
    }

    .item-portfolio:first-child {
        margin-left: -49%;
    }
}

@media(max-width: 550px){
    .menu{
        display: none;
    }

    .header-wrap{
        flex-direction: column;
    }
    
    header::before{
        top: 0px;
    }

    header{
        margin-top: 0px;
    }

    .item-portfolio{
        min-width: 97%;
        width: 97%;
    }

    .item-portfolio:first-child {
        margin-left: -97%;
        box-shadow: none;
    }

    .contato > div{
        flex-direction: column;
        align-items: center;
    }

}


/* Contato */


.contato{
    max-width: 500px;
    text-align: center;
}

.contato > div{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.item-contato img{
    width: 100%;
    height: 100px;
}


.item-contato{
    max-width: 80px;
    margin-bottom: 20px;
}

.item-contato a{
    text-decoration: none;
    color: #000000;
}

.item-contato:hover{
    cursor: pointer;
}

/* Pop Up */



.pop-up{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000da;
    opacity: 0;
    z-index: -1;
    overflow:scroll;
}

.pop-up.active{
    opacity: 1;
    z-index: 1;
    
}

.site{
    width: 90vw;
    height: 90vh;
    margin: 5vh auto;
    background-color: #FFFFFF;
    position: relative;
    padding: 20px;
    overflow: auto;
}

.site.small{
    height: 40vh;
}

#close{
    position: absolute;
    right: 10px;
    top: 10px;
    background: red;
    color: #FFFFFF;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}


#close:hover{
    cursor: pointer;
}

.info{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #FFFFFF;
}

.info.pop{
    position: absolute;
    right: 50px;
    top: 10px;   
}

.info:hover{
    cursor: pointer;
}

.info img{
    width: 100%;
}

.info{
    position: relative;
}

.info::after {
    display: none;
    position: absolute;
    top: 15px;
    padding: 5px;
    border-radius: 3px;
    right: 30px;
    content: attr(data-info);
    white-space: normal;
    min-width: 200px;
    background-color: #e4e4e4;
    box-shadow: 0 2px 5px 0 #373737;
    color: #000000;
    z-index: 2;
}
  
.info.portfolio::after{
    content: 'Projetos pessoais desenvolvidos para praticar HTML, CSS e Javascript. Clique em algum dos projetos para vizualiza-lo. O código os projetos pode ser visto no meu Github.';
}

.info:hover::after {
    display: block;
  }